{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Modifier votre mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.mail) }}
        <div>
            <small>
                Veuillez entrer votre adresse email et nous enverrons un lien pour modifier votre mot de passe
            </small>
        </div>

        <button class="btn btn-primary">Valider mon mail</button>
    {{ form_end(requestForm) }}
{% endblock %}
